<div class="container-fluid">
  <div class="col-md-12">
    <div cdkDropListGroup>

      <!-- Tarefa Fácil -->
      <div class="col-md-12">
        <div class="container">
          <h2 class="head-title">Tarefa Fácil</h2>

          <div cdkDropList [cdkDropListData]="taskFacil" class="list" (cdkDropListDropped)="drop($event)">
            <div class="bigger-box" *ngFor="let task of tasks" cdkDrag>
              <div class="box" *ngIf="task.categoria == 1">
                <b>Título: </b> {{ task.titulo }} <b>Descrição: </b>
                {{ task.descricao }} <b>Data de Conclusão: </b>
                {{ task.dataCompleta }}
              </div>

              <div class="box" *ngIf="task.categoria == 1">
                <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <a [routerLink]="['/task/atualizar', + task.id]" mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Tarefa Difícil-->
        <div class="container">
          <h2 class="head-title">
            Tarefa Difícil
          </h2>

          <div cdkDropList [cdkDropListData]="taskDificil" class="list" (cdkDropListDropped)="drop($event)">
            <div class="bigger-box" *ngFor="let task of taskDificil; let i = index" cdkDrag>
              <div class="box" *ngIf="task.categoria == 2">
                <b>Título:</b> {{ task.titulo }} <b>Descrição:</b>
                {{ task.descricao }} <b>Data de Conclusão:</b>
                {{ task.dataCompleta }}
              </div>
              <div class="box" *ngIf="task.categoria == 2">
                <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <a [routerLink]="['/task/atualizar', + task.id] "mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Tarefa Urgente-->
      <div class="col-md-12">
        <div class="container">
          <h2 class="head-title">
            Tarefa Urgente
          </h2>

          <div cdkDropList [cdkDropListData]="taskUrgente" class="list" (cdkDropListDropped)="drop($event)">
            <div class="bigger-box" *ngFor="let task of taskUrgente; let i = index" cdkDrag>
              <div class="box" *ngIf="task.categoria == 3">
                <b>Título:</b> {{ task.titulo }} <b>Descrição:</b>
                {{ task.descricao}} <b>Data de Conclusão:</b>
                {{ task.dataCompleta }}
              </div>

              <div class="box" *ngIf="task.categoria == 3">
                <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <a [routerLink]="['/task/atualizar', + task.id]" mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Tarefa Prioritária -->
        <div class="container">
          <h2 class="head-title">
            Tarefa Prioritária
          </h2>

          <div cdkDropList [cdkDropListData]="taskPrioritaria" class="list" (cdkDropListDropped)="drop($event)">
            <div class="bigger-box" *ngFor="let task of taskPrioritaria; let i = index" cdkDrag>
              <div class="box" *ngIf="task.categoria == 4">
                <b>Título:</b> {{ task.titulo }} <b>Descrição:</b>
                {{ task.descricao }} <b>Data de Conclusão:</b>
                {{ task.dataCompleta }}
              </div>
              <div class="box" *ngIf="task.categoria == 4">
                <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <a [routerLink]="['/task/atualizar', + task.id]" mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Concluído -->
      <div class="col-md-12">
        <div class="container">
          <h2 class="head-title">
            Concluído <span *ngIf="concluido.length > 0"> - {{ concluido.length }}</span>
          </h2>

          <div cdkDropList [cdkDropListData]="concluido" class="list" (cdkDropListDropped)="drop($event)">
            <div class="bigger-box" *ngFor="let task of concluido" cdkDrag>
              <b>Título:</b> {{ task.titulo }} <b>Descrição:</b>
              {{ task.descricao }} <b>Data de Conclusão:</b>
              {{ task.dataCompleta }}
              <div class="box">
                <button mat-icon-button color="accent">
                  <mat-icon>check_circle</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="link" [routerLink]="['/task']" mat-raised-button color="primary">
        Adc nova tarefa
      </a>

    </div>
  </div>
</div>
